/* 
CONVENCIÓN PARA ORDENAR LOS ESTILOS (Opcional - Recomendado)

1. Posicionamiento (Relative, absolute, grid, flex..)
2. Modelo de caja (paddings, margins)
3. Tipografía (Fuentes)
4. Visual (Box-shadow, bordes..)
5. Otros
*/

:root {
    /* Colors */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --soft-black: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
    /* Fonts */
    --primary-font: 'DM Sans', sans-serif;
    --secondary-font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    background-color: #faf8f7;
}

/* HEADER */

.header {
    position: relative;
    height: 334px;
    background: linear-gradient(207.8deg, var(--warm-black) 16.69%, var(--bitcoin-orange) 100%);
}

.header__container {
    width: 80%;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4.2rem 0 3.6rem 0;
    gap: .8rem;
}

.header__logo__img {
    width: 4.57rem;
    height: 2.4rem;
}

.header__logo__text {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--bitcoin-orange);
}

.header__title {
    padding-bottom: 2.4rem;
    text-align: center;
    color: var(--just-white);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
}

.header__text {
    text-align: center;
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
}

.header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 12px 16px;
    gap: 8px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    text-decoration: none;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
}

.header__button__text {
    color: var(--warm-black);
    font-size: 1.4rem;
    font-weight: 700;
}

.header__button__icon {
    transform: rotate(-90deg);
}

/* EXCHANGE */

.exchange {
    width: 80%;
    /* max-width: 800px; */
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchange__img {
    width: 70%;
    max-width: 400px;
    align-self: center;
    margin-bottom: 40px;
}

.exchange__title {
    font-size: 2.4rem;
    font-weight: 700;
    text-align: center;
    line-height: 2.6rem;
    margin-bottom: 24px;
    color: var(--warm-black);
}

.exchange__description {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    color: var(--soft-black);
    margin-bottom: 48px;
}

.exchange__section-coins {
    margin-bottom: 16px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 10px;
}

.exchange__coins-commissions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 64px;
}

.exchange__coins-commissions__container {
    min-width: 280px;
    width: 400px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.exchange__title-container {
    width: 85%;
    margin-bottom: 12px;
}


.exchange__title-coins {
    font-size: 1.8rem;
    color: #F79319;
}

.exchange__title-coins--commissions {
    color: var(--secondary-blue);
}

.exchange__section-coins__coin {
    display: flex;
    grid-column: 1 / 3;
    align-items: center;
    justify-content: center; 
}

.exchange__section-coins__coin-name {
    font-family: var(--secondary-font);
    font-size: 1.6rem;
    font-weight: 500;
    color: #757575;
}

.exchange__section-coins__coin-price {
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 400;
    color: #757575;
    display: flex;
    gap: 10px;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: var(--just-white);
    text-align: center;
    border: 1px solid #faf8f7;
    padding: 10px
}

.column--left {
    justify-content: flex-start;
}

.column--top-left {
    border-top-left-radius: 10px 
}

.column--top-right {
    border-top-right-radius: 10px 
}

.column--bottom-left {
    border-bottom-left-radius: 10px 
}

.column--bottom-right {
    border-bottom-right-radius: 10px 
}

.exchange__section-coins__coin-name {
    align-self: self-start;
}

.exchange__section-date {
    width: 70%;
    max-width: 350px;
    text-align: center;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
}

.exchange__section-date--blue {
    background-color: var(--soft-blue);
}

.exchange__section-date__updated {
    font-weight: 700;
}

.exchange__section-date__date {
    font-weight: 500;
}

.exchange__arrow {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -30px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;

}

.exchange__arrow--left {
    left: -30px;
}

/* BENEFITS */

.benefits {
    position: relative;
    width: 100%;
    background-color: var(--warm-black);
}

.benefits__conatiner-logo {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 41px;
}

.benefits__container {
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.benefits__header__title {
    margin-top: 50px;
    margin-bottom: 24px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--just-white);
}

.benefits__header__description {
    margin-bottom: 32px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--off-white);
}

/* BENEFITS CARDS */

.benefits__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 47px;
    max-width: 1200px;
}

.card {
    display: flex;
    flex-direction: column;
    min-width: 288px;
    max-width: 400px;
    min-height: 152px;
    gap: 10px;
    padding: 16px;
    margin: 8px 8px;
    background-color: var(--soft-black);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.card__icon {
    width: 20px;
}

.card__title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--just-white);
}

.card__description {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--grey);
}

/* PLANS BANNER*/

.plans__banner {
    position: relative;
    display: inline-block;
    height: 60vh;
    width: 100%;
    margin-bottom: 64px;
    background-color: var(--off-white);
}

.plans__banner__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.plans__banner__title {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 64px;
    left: 0;
    right: 0;
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 26px;
    color: var(--just-white);
}

.plans__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.plans__header__title {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    margin-bottom: 24px;
    padding: 14px;
}

.plans__header__description {
    font-size: 1.4rem;
    font-weight: 500;
    color: #757575;
    margin-bottom: 50px;
    padding: 14px;
}

/* PLANS CARDS */

.plans__cards {
    display: flex;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    margin: 0 auto;
    gap: 8px;
    padding: 0 10px;
    height: 320px;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans__cards::-webkit-scrollbar {
    background-color: var(--soft-orange);
    height: 3px;
}

.plans__cards::-webkit-scrollbar-thumb {
        background-color: var(--bitcoin-orange);
}

.plan__card {
    position: relative;
    scroll-snap-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    min-height: 247px;
    background-color: var(--just-white);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    padding: 31px 16px;
}

.plan__card__highlight {
    position: absolute;
    top: -20px;
    width: 101px;
    height: 31px;
    background-color: var(--bitcoin-orange);
    padding: 8px;
    text-align: center;
    color: var(--just-white);
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: var(--secondary-font);
}

.plan__card__title {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 8px;
}

.plan__card__price {
    position: relative;
    font-size: 5.2rem;
    font-weight: 700;
    font-family: var(--secondary-font);
    margin-bottom: 16px;
    letter-spacing: -4px;
}

.plan__card__price__simbol-dollar {
    position: absolute;
    top: 10px;
    left: -10px;
    font-size: 1.2rem;
    font-weight: 500;
    font-style: normal;
}

.plan__card__description {
    font-size: 1.2rem;
    font-weight: 500;
    font-family: var(--secondary-font);
    color: #757575;
    text-align: center;
    margin-bottom: 16px;
}

.plan__card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 8px;
    width: 151px;
    height: 48px;
    background-color: var(--off-white);
    border: 2px solid var(--bitcoin-orange);
    text-decoration: none;
}

.plan__card__button__text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--warm-black);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-width: 320px;
    min-height: 150px;
    background-color: var(--bitcoin-orange);
    margin-top: 64px;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 8px;
}

.footer__nav__item {
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--just-white);
}

.footer__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footer__logo__text {
    font-size: .8rem;
    font-weight: 300;
    color: var(--soft-orange);
}


/* MEDIA QUERIES */

@media (min-width: 600px) {
    .plans__cards {
        justify-content: space-evenly;
    }
}